<div class=" col-lg-9 mx-lg-auto my-4">
  <div class="card shadow">
  <div class="card-header">
<%= simple_form_for(@workshop) do |f| %>
  <div class="center">
    <%= f.label :name  %>
    <%= f.text_field :name , class: "form-control" %>
  </div>
  <div class="center">
    <%= f.label :description %>
    <%= f.text_area :description  , class: "form-control", rows: "5", cols: "100"%>
  </div>
  <div class="center">
    <%= f.label :clip %>
    <%= f.file_field :clip  , class: "form-control" %>
  </div>
  <div class="center">
    <%= f.label :thumbnail %>
    <%= f.file_field :thumbnail  , class: "form-control" %>
  </div>
  <div class="center">
    <%= f.label :start_date %>
    <%= f.date_field :start_date  , class: "form-control"%>
  </div>
  <div class="center">
    <%= f.label :end_date %>
    <%= f.date_field :end_date , class: "form-control" %>
  </div><br>
  <div  >
    <%= f.input :start_time,  priority: ["10:00 AM"], collection: ["8:00 AM", "9:00 AM", "10:00 AM", "11:00 AM"], class: "select optional form-control" %>
  </div><br> 
  <div >
    <%= f.input :end_time, priority: ["3:00 PM"], collection: ["1:00 PM", "2:00 PM", "3:00 PM", "4:00 PM"] , class: "select optional form-control" %>
  </div><br>

  <div class="center">
    <%= f.label :total_sits %>
    <%= f.number_field :total_sits , class: "form-control" %>
  </div>

  <div class="center">
    <%= f.label :remaining_sits %>
    <%= f.number_field :remaining_sits , class: "form-control" %>
  </div>
  <div class="center">
    <%= f.label :registration_fee %>
    <%= f.number_field :registration_fee , class: "form-control" %>
  </div>

  <div class="d-grid gap-2 my-4">
    <%= f.submit  class: "btn btn-outline-primary my-3 btn-lg" %>
  </div>
<% end %>

<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

</style>
