<p> You visited this course <%= pluralize @visit_count, 'time' %>.</p>

<%= render "workshops/formmodal" %>

<div class="col-lg-12">
  <div class = "card shadow my-3">
    <div class="card-body">
    <div class="card-title"><%= @workshop.name %></h4>
    <div class="row mt-3">
    <div class="col-lg-7">
      <h4><span class="badge bg-warning"><%= @workshop.total_duration %></span></h4>
      <h4><span class="badge bg-success"> <%= @workshop.daily_duration %></span></h4>
    </div>
    <div class="col-lg-5">
		  <h4> Total Sits: <span class = "badge bg-primary"><%= @workshop.total_sits %></span></h4>
		  <h4> Remaining Sits: <span class = "badge bg-primary"><%= @workshop.remaining_sits %></span></h4>
		  <h4> Registation Fee: <span class = "badge bg-primary"><%= @workshop.registration_fee %></span></h4>
    </div>
    </div>
		<p class="lead mt-3 mb-3"><%= @workshop.description %>
		</p>

    <% if current_view.present? %>
      <% if current_view.role == "Admin"%>
        <tr class= "text-center">
          <%= button_to "Delete Course", workshop_path(@workshop.id), method: :delete, class: "btn btn-danger btn-md btn-sm" %> 
          <%= button_to "Edit Course", edit_workshop_path(@workshop), method: :get, class: "btn btn-info btn-md btn-sm" %></h3>
        </tr>
      <% end %>
    <% end %>    
    
    <div style="width:400px; height:400px"> 
      <% if @workshop.clip.attached? %>
        <% if @workshop.start_date < Date.today %>
          <%= image_tag (@workshop.clip),  width: "50px", height: "50px", class: "img-fluid" %>
          <div>
            <p>Soory this course is not avialable now..</p>
          </div>
        <% end %>
      <% end %>
    </div>
   
  
      <% if @workshop.clip.attached? %>
      <% video_tag(url_for(@workshop.clip)) %>
      <% end %>
  <% if @workshop.bookings  %>
    <% end %>
      <%= render "workshops/comment" %>
	  	<%= link_to "Back to workshops", workshops_path, class: "btn btn-outline-danger btn-lg mt-3" %>
    </div>
  </div>
</div>
</div>

<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>





