<div class="col-lg-6">
<div class="card">
<%= form_for([@workshop, @workshop.comments.build]) do |f| %>
  <p>
	  <% if view_signed_in? %>
      <%= f.hidden_field :name, value: current_view.email,  class: "form-control my-2" %>
			<% else %>
			<em>Please sign in to do a comment</em>
		<% end %>
		
	</p>
	<p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control my-2" %>
	</p>
	<div class="d-grid gap-2 my-3">
    <%= f.submit "Post Comment", class: "btn btn-outline-warning btn-lg  " %>
	</div>
<% end %>
</div>
</div>
