<div class="col-lg-6">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead"><%= @workshop_count %> Total workshops</p>
      <p class="lead"><%= @upcoming_workshop_count %> Total upcoming workshops</p>
      <p class="lead"><%= @past_workshop_count %> Total workshops organized recently</p>
      <%= link_to 'View All ', admin_workshops_path, class: "btn btn-info rounded-pill shadow px-2 py-2 " %>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead"><%= @booking_count %> Total bookings</p>
      <p class="lead">$ <%= @revenue_earned %> Total revenue</p>
      <%= link_to 'View All Bookings', admin_bookings_path, class: "btn btn-warning rounded-pill shadow px-2 py-2 " %>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead"><%= @customer_count %> Total customers</p>
      <%= link_to 'View All Customers', admin_customers_path, class: "btn btn-success rounded-pill shadow px-2 py-2 " %>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead fw-bold"><%= @refundable_bookings.count %> Refundable Bookings</p>
      <% @refundable_bookings.each do |booking| %>
        <p class="lead"><%= link_to booking.workshop.name, admin_booking_path(booking) %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="card shadow mt-5">
    <div class="card-body">
      <p class="lead fw-bold"><%= @active_refunds.count %> Refunds to be processed</p>
      <ul class="list-group">
        <% @active_refunds.each do |refund| %>
          <li class="list-group-item">
            <p class="lead"><%= link_to refund.booking.workshop.name, admin_workshop_path(refund.booking.workshop) %></p>
            <p class="lead"><%= refund.no_of_tickets %> tickets ($ <%= refund.amount_to_be_refunded %>) to be refunded</p>
            <%= button_to "Process Refund", process_refund_1_admin_refund_path(refund), class: "btn btn-danger rounded-pill shadow px-2 py-2 ", method: :patch %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="col-lg-5">
  <div class="card shadow mt-5">
    <div class="card-body">
      <%= month_calendar() do |date| %>
        <%= date %>
      <% end %>
      <% @workshops.each do |w| %>
        <div class="card-header">
          <h5 class="card-title">
            <%= link_to w.name, w %>
          </h5>
        </div>
        <div class="card-body">
          <div class="card-text">
            <em>From <%= w.start_time %> to <%= w.end_time %>  
            <p>( Started form <%= w.start_date.strftime('%A, %B %d, %Y ') %></p> To: 
            <p><%= w.end_date.strftime('%A, %B %d, %Y ') %> )</p></em>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
