<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
    <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-1">
  <div class="card shadow-2-strong card-registration style="border-radius: 15px;">
<div class="card-header p-3 p-md-3">
  <h2 class="card-title text-center">Log In</h2>
    <p style="text-align:center;">Please sign in to continue.</p>
</div>
<div class="card-body">

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false } }) do |f| %>
  <div class="txt_field">
    <%= f.email_field :email, autofocus: true, placeholder: "Username", class: 'form-control form-control-' %>
  </div><br>
   
  <div class="txt_field">
    <%= f.password_field :password, placeholder: "Password" , class: 'form-control form-control-md' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group mb-2 mt-2">
      <%= f.check_box :remember_me  %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="d-grid gap-2 my-3">
    <%= f.submit "Log in", class: "btn btn-primary my-2 btn-lg", data: {turbo: false }  %>
  </div>
<% end %>

      <p class="signup_link">New user? <b><%= render "devise/shared/links" %></b></p>
    </div>
  </div>
</div>

<style>

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);

          
  height: 10vh;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 32px 1;
}

.txt_field input{
  width: 100%;
  padding: 0 8px;
  height: 40px;
  font-size: 16px;
  border: none;

}


.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}

input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

</style>